<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>LibraryManagementSystem!</title>
  </head>
  <body>
    <div class="jumbotron" style="background-color:#09f7af;">
        <h1 class="display-4">Library Management System!</h1>
        <p class="lead">This is a Library Management System made by Aditya and Deepayan.<br>
        This is a transparent website with honest reviews....
        </p>
        <hr class="my-1">
        
        
      </div>
      {% for feeds in feedback %}
    <div class="container">
      <div class="card">
        <div class="card-header" style="background-color:  #09f7af; ">
         <h2><span class="font-weight-bold">{{feeds.name}}</span></h2> 
        </div>
        <div class="card-body">
          <h3 class="card-title">{{feeds.feedback}}</h3>
          
        </div>
      </div>
    </div>
      {% endfor %}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
