<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>LibraryManagementSystem</title>
  </head>
  <style>
      .bg-custom{
          background-color: #09f7af;
          
      }
     
  </style>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <a class="navbar-brand" href="/admin">Library Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/admin">Students <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/book"> List Of Books</a>
            <a class="nav-item nav-link" href="/issuedbook">Issued Books</a>
            <a class="nav-item nav-link" href="/">Log out</a>
            
          </div>
        </div>
      </nav>
      
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
      <body>
      
      <div class="container">
        <h2>List</h2>
        <p>Details of all the students</p>            
        <table class="table my-4">
            <thead>
              <tr>
                
                <th>BOOK ID</th>
                <th>Usn</th>
                <th>Name</th>
                <th>BOOK NAME</th>
                <th>Issue Date</th>
                <th>Return Date</th>
                <th>Return</th>
               

              </tr>
            </thead>
            <tbody>
                {% for data in issuebook %}
              <tr>
                
                <td>{{data.book_id}}</td>
                <td>{{data.usn}}</td>
                <td>{{data.name}}</td>
                <td>{{data.book_name}}</td>
                <td>{{data.issue_date}}</td>
                <td>{{data.return_date}}</td>
                <td><a href="/returnbook/{{data.sn}}"><button  class="btn btn-danger">Return</button></a></td>
            
                
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      
      </body>
      </html>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>